/**
  *
  *   nav.css
  *
**/

ul.nav .widgettitle {
  display: none;
}



.navbar-nav a {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
  color: #14151b;
}

ul#menu-header li.nav-item a {
  letter-spacing: 1px;
}


nav#mainNav.navbar {
  background: rgba(255, 255, 255, 0.4);
}

ul.nav.flex-column {
  width: 100%;
}
ul.nav.flex-column.show {

}
.bsnav {
  position: relative;
}
@media(max-width: 1000px) {


}
